[mysqld]
# use the current server ip
bind-address 	  = 172.19.0.1
server-id       = 1
log_bin         = /var/log/mysql/mysql-bin.log
# uncomment this only in slave server
# relay-log       = /var/log/mysql/mysql-relay-bin.log
binlog_do_db    = asunee
